<template>
  <div class="q-pa-md" style="max-width: 400px">
    <h5>Login to the products app</h5>
    <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
      <q-input
        filled
        v-model="name"
        label="Your email *"
        hint="username or email"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Please type something']"
      />

      <q-input
        filled
        type="text"
        v-model="password"
        label="password *"
        lazy-rules
        :rules="[
          (val) => (val && val.length > 0) || 'Please enter your password',
        ]"
      />
      <div></div>
      <div>
        <q-btn label="Submit" type="submit" color="primary" />
        <q-btn
          label="Reset"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
        />
      </div>
    </q-form>
  </div>
</template>

<script>
import { ref } from "vue";
import baseApi from "../api/baseurl";
import { useRouter } from "vue-router";

export default {
  /* eslint-disable */
  name: "Login",
  setup() {
    const name = ref(null);
    const password = ref(null);
    const router = useRouter();

    return {
      name,
      password,

      onSubmit() {
        // authenticate user
        baseApi
          .post("auth/login", {
            username: name.value,
            password: password.value,
          })
          .then((res) => {
            if (res.status === 200 || res.status === 201) {
              // get the bearer token
              // for demo purposes, we can store the token in the localstorage

              localStorage.setItem("token", res.data.access_token);
              localStorage.setItem("loggedIn", "true");
              router.push("/orders");
            }
          })
          .catch((err) => {
            console.log(err);
          });
      },
      onReset() {
        name.value = null;
        password.value = null;
      },
    };
  },
};
</script>
