<template>
  <div class="q-pa-md" style="max-width: 400px">
    <h5>
      Thank you for registering on the product app. Kindly proceed to the login
      page
      <span>
        <router-link class="absolute-center" to="/login"
          >login here</router-link
        >
      </span>
    </h5>
  </div>
</template>

<script>
export default {
  /* eslint-disable */
  name: "Message",
};
</script>
