<template>
  <div class="q-pa-md" style="max-width: 400px">
    <h5>You are authenticated. Create an order</h5>
    <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
      <q-input
        filled
        v-model="name"
        label="Name of product *"
        hint="name"
        lazy-rules
        :rules="[(val) => (val && val.length > 0) || 'Please type something']"
      />

      <q-input
        filled
        type="number"
        v-model="price"
        label="price *"
        lazy-rules
        :rules="[(val) => (val && val > 0) || 'Please enter the price']"
      />
      <q-input
        filled
        type="number"
        v-model="qty"
        label="quantity *"
        lazy-rules
        :rules="[(val) => (val && val > 0) || 'Please enter the quantity']"
      />
      <div>
        <q-btn label="Add product" type="submit" color="primary" />
        <q-btn
          label="Reset"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
        />
      </div>
    </q-form>
  </div>
</template>

<script>
import { ref } from "vue";
import baseApi from "../api/baseurl";
import { useRouter } from "vue-router";

const token = localStorage.getItem("token");
export default {
  /* eslint-disable */
  name: "Orders",
  setup() {
    const name = ref(null);
    const price = ref(null);
    const qty = ref(null);

    const router = useRouter();

    return {
      name,
      price,
      qty,

      onSubmit() {
        // authenticate user
        baseApi
          .post(
            "auth/create",

            {
              name: name.value,
              price: price.value,
              quantity: qty.value,
            },
            {
              headers: {
                Authorization: "Bearer " + token,
              },
            }
          )
          .then((res) => {
            if (res.status === 200 || res.status === 201) {
              router.push("/productmessage");
            }
          })
          .catch((err) => {
            console.log(err);
          });
      },
      onReset() {
        name.value = null;
        password.value = null;
      },
    };
  },
};
</script>
