<template>
  <div class="q-pa-md" style="max-width: 400px">
    <h5>Successfully created an order !!</h5>
    <router-link class="absolute-center" to="/orders"
      >Create more orders</router-link
    >
  </div>
</template>

<script>
export default {
  /* eslint-disable */
  name: "Productmessage",
};
</script>
