/* eslint-disable */
<template>
  <q-page padding>
    <h5>This is Register Page</h5>
    <p>{{ message?.message.value }}</p>

    <div class="q-pa-md" style="max-width: 400px">
      <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
        <q-input
          filled
          v-model="name"
          label="Your email *"
          hint="username or email"
          lazy-rules
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
        />

        <q-input
          filled
          type="text"
          v-model="password"
          label="password *"
          lazy-rules
          :rules="[
            (val) => (val && val.length > 0) || 'Please enter your password',
          ]"
        />

        <div>
          <q-btn label="Register" type="submit" color="primary" />
          <q-btn
            label="Reset"
            type="reset"
            color="primary"
            flat
            class="q-ml-sm"
          />
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { ref } from "vue";
import baseApi from "../api/baseurl";
import { useRouter } from "vue-router";

export default {
  /* eslint-disable */
  name: "Register",
  setup() {
    const name = ref(null);
    const password = ref(null);
    const message = ref(null);
    const router = useRouter();

    return {
      name,
      password,

      onSubmit() {
        // authenticate user
        baseApi
          .post("auth/signup", {
            username: name.value,
            password: password.value,
          })
          .then((res) => {
            if (res.status === 200 || res.status === 201) {
              // display msg (optional)
              message.value = res.data.msg;

              setTimeout(() => {
                router.push("/message");
              }, 2000);
            }
          })
          .catch((err) => {
            console.log(err);
          });
      },
      onReset() {
        name.value = null;
        password.value = null;
      },
    };
  },
};
</script>

<style></style>
